<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack Casino</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="application.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/set_name">Start New Game</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <%if @info %>
      <div class="alert alert-info"><%=@info%></div>
    <% end %>

      <%= yield %>
  </div>
  </body>
</html>
