<h4>"Welcome to Aaron's Blackjack Casino!</h4>
<p>Please input your name to get started."</p>
<form action='/set_name' method='post'>
  Name: <input type='text' name='player_name' />
  </br>
  <input type='submit' class='btn' />
</form>
